*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

h1 {
  font-size: 32px;
  font-weight: bold; }

h2 {
  font-size: 30px;
  font-weight: bold; }

h3 {
  font-size: 24px;
  font-weight: bold; }

h4 {
  font-size: 16px;
  font-weight: bold; }

h5 {
  font-size: 13px;
  font-weight: bold; }

h6 {
  font-size: 11px;
  font-weight: bold; }

p {
  font-size: 15px;
  font-weight: normal;
  line-height: 24px;
  color: #9d9ea3; }

.font-light {
  font-weight: 200 !important; }

.font-bold {
  font-weight: 400 !important; }

.font-bolder {
  font-weight: 600 !important; }

.btn {
  font-size: 14px;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 5px;
  border: none; }

.btn-purple {
  color: #ffffff;
  background-color: #5365e1; }

.btn-white {
  color: #000000;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2); }

.nav {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 70px; }
  .nav h3 {
    text-transform: uppercase; }

.header {
  text-align: center;
  margin-bottom: 150px;
  padding-left: 30px;
  padding-right: 30px; }
  .header__image {
    position: relative;
    margin-bottom: 70px; }
    .header__image:after {
      content: '';
      width: 300px;
      height: 190px;
      background-color: #4d61d2;
      position: absolute;
      left: 70px;
      top: 60px;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 30%;
      z-index: -1; }
    .header__image img {
      width: 100%; }
  .header h2 {
    margin-bottom: 30px; }
  .header p {
    margin-bottom: 30px; }
  .header__buttons-wrapper {
    display: flex;
    justify-content: space-around; }

.section__one {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 80px; }
  .section__one h3 {
    margin-bottom: 15px; }
  .section__one p {
    margin-bottom: 35px; }
  .section__one__list li {
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    padding: 20px;
    color: #5f5f67;
    border-top: 1px solid #dfdfe7;
    position: relative; }
    .section__one__list li:last-child {
      border-bottom: 1px solid #dfdfe7; }
    .section__one__list li:after {
      content: '';
      width: 130px;
      height: 5px;
      background-color: red;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0; }

.section__two {
  text-align: center;
  margin-bottom: 150px;
  padding-left: 30px;
  padding-right: 30px; }
  .section__two__tab-img {
    position: relative;
    margin-bottom: 70px; }
    .section__two__tab-img:after {
      content: '';
      width: 300px;
      height: 190px;
      background-color: #4d61d2;
      position: absolute;
      left: 70px;
      top: 60px;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 30%;
      z-index: -1; }
    .section__two__tab-img img {
      width: 100%; }
  .section__two h3 {
    margin-bottom: 15px; }

.section__three {
  text-align: center;
  margin-bottom: 150px;
  padding-left: 30px;
  padding-right: 30px; }
  .section__three h3 {
    margin-bottom: 15px; }
  .section__three p {
    margin-bottom: 35px; }
  .section__three .cards {
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07);
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 10px; }
    .section__three .cards img {
      margin-bottom: 30px; }
    .section__three .cards h4 {
      margin-bottom: 10px; }
    .section__three .cards hr {
      height: 14px;
      overflow: hidden;
      border: none;
      margin-bottom: 35px; }
      .section__three .cards hr:after {
        content: '.........................................';
        letter-spacing: 12px; }

.section__four {
  text-align: center;
  margin-bottom: 120px;
  padding-left: 30px;
  padding-right: 30px; }
  .section__four h3 {
    margin-bottom: 15px; }
  .section__four p {
    margin-bottom: 35px; }
  .section__four__faqs {
    margin-bottom: 50px; }
    .section__four__faqs__faq {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #dfdfe7; }
      .section__four__faqs__faq a {
        text-decoration: none;
        color: #000000; }
      .section__four__faqs__faq .dropdown-direction {
        border-left: 3px solid #5266df;
        border-bottom: 3px solid #5266df;
        width: 13px;
        height: 13px;
        transform: rotate(-45deg); }

.section__five {
  background-color: #5266df;
  color: #ffffff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px; }
  .section__five h5 {
    color: #ffffff;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .section__five h3 {
    margin-bottom: 30px; }
  .section__five form {
    display: flex;
    flex-direction: column; }
    .section__five form input {
      font-size: 12px;
      padding: 15px;
      border-radius: 5px;
      border: none;
      margin-bottom: 20px; }
    .section__five form ::placeholder {
      opacity: 0.4; }
    .section__five form button {
      font-size: 12px;
      font-weight: 600;
      padding: 15px;
      border-radius: 5px;
      border: none;
      background-color: #fb5859;
      color: #ffffff; }

.footer {
  background-color: #242946;
  color: #ffffff;
  text-align: center;
  padding: 40px;
  text-transform: uppercase; }
  .footer__brand {
    margin-bottom: 40px; }
  .footer li {
    font-size: 13px;
    list-style: none;
    margin-bottom: 30px; }
  .footer__social-media {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto; }

.wrapper {
  padding-top: 50px; }

/*# sourceMappingURL=style.css.map */
