.footer{
    background-color: #242946;
    color: #ffffff;
    text-align: center;
    padding: 40px;
    text-transform: uppercase;

    &__brand{
        margin-bottom: 40px;
    }

    li{
        font-size: 13px;
        list-style: none;
        margin-bottom: 30px;
    }
}