.nav{
    padding-left: $mobile-side-padding;
    padding-right: $mobile-side-padding;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;

    @media(min-width: $mobile-breakpoint){
        align-items: center;
        padding-left: $desktop-side-padding;
        padding-right: $desktop-side-padding;
        margin-bottom: 140px;
    }

    &__hamburger{
        width: 25px;
        height: 3px;
        background-color: #000000;
        position: relative;
        align-self: center;

        @media(min-width: $mobile-breakpoint){
            display: none;
        }

        &:before{
            content: '';
            width: 25px;
            height: 3px;
            background-color: #000000;
            position: absolute;
            top: -7px;
        }

        &:after{
            content: '';
            width: 25px;
            height: 3px;
            background-color: #000000;
            position: absolute;
            top: 7px;
        }
    }

    &__links{
        background-color: #2f354f;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 1;
        opacity: 0.9;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 40px;
        text-align: center;
        padding-top: 50px;
        transition: 0.3s ease-in-out;
        transition-property: transform;
        transform: translateX(100vw);

        @media(min-width: $mobile-breakpoint){
            transform: translateX(0px);
            position: static;
            height: auto;
            background-color: transparent;
            flex-direction: row;
            padding: 0;
            width: auto;
        }


        &__brand{
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media(min-width: $mobile-breakpoint){
                display: none;
            }

            .cancel-icon{
                width: 25px;
                height: 3px;
                background-color: #ffffff;
                transform: rotate(45deg);

                &:after{
                    content: '';
                    position: absolute;
                    width: 25px;
                    height: 3px;
                    background-color: #ffffff;
                    transform: rotate(90deg) translateY(13px);
                }
            }
        }

        &__link-container{
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            @media(min-width: $mobile-breakpoint){
                flex-direction: row;
                align-items: center;
                margin-bottom: 0;
            }

            a{
                text-decoration: none;
                text-transform: uppercase;
                color: #ffffff;
                border-top: 1px solid rgba(255,255,255, 0.3);
                padding-top: 20px;
                margin-bottom: 20px;
                letter-spacing: 2px;
                font-size: 18px;

                @media(min-width: $mobile-breakpoint){
                    color: #000000;
                    margin-right: 60px;
                    padding: 0;
                    margin-bottom: 0;
                    font-size: 14px;
                }

                &:last-child{
                    border-bottom: 1px solid rgba(255,255,255, 0.3);
                    padding-bottom: 20px;

                    @media(min-width: $mobile-breakpoint){
                        border-bottom: none;
                        padding-bottom: 0;
                    }
                }
            }
        }

        &__btn-container{
            display: flex;

            .btn-red{
                text-decoration: none;
                text-transform: uppercase;
                color: #ffffff;
                width: 100%;
                background-color: transparent;
                font-size: 18px;
                border: 2px solid #ffffff;
                border-radius: 5px;

                @media(min-width: $mobile-breakpoint){
                    font-size: 14px;
                    font-weight: 600;
                    padding: 15px;
                    padding-left: 40px;
                    padding-right: 40px;
                    border-radius: 5px;
                    border: none;
                    background-color: #fb5859;
                    color: #ffffff !important;
                }

            }
        }

        &__social-media{
            margin-top: auto;

            img:first-child{
                margin-right: 40px;
            }

            @media(min-width: $mobile-breakpoint){
                display: none;
            }
        }
    }
}